.rides,
.rides * {
  box-sizing: border-box;
}
.rides {
  background: #f2f2f2;
  height: 2294px;
  position: relative;
  overflow-x: hidden;
}

.rides::-webkit-scrollbar {
  display: none;
}

.hero {
  background: #6aabd2;
  width: 1440px;
  height: 264px;
  position: absolute;
  left: 0px;
  top: 70px;
}
.all-rides {
  color: #ffffff;
  text-align: left;
  font-family: "Caprasimo", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 46px;
  top: 105px;
}
.rectangle-2 {
  background: #d9d9d9;
  width: 805px;
  height: 264px;
  position: absolute;
  left: 635px;
  top: 0px;
}
.image {
  color: #000000;
  text-align: left;
  font-family: "Arial-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 984px;
  top: 105px;
  width: 139px;
  height: 50px;
}
/* .navbar {
  width: 1440px;
  height: 70px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.navbar-background {
  background: #071330;
  width: 1440px;
  height: 70px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.helloworld-logo-1-1 {
  width: 256px;
  height: 69.46px;
  position: absolute;
  left: 20px;
  top: 0px;
  object-fit: cover;
}
.nav-item {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 329px;
  top: 13px;
}
.dropdown-caret {
  flex-shrink: 0;
  width: 10px;
  height: 7px;
  position: relative;
  overflow: visible;
}
.tickets-passes {
  color: #fdfdfd;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.nav-item2 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 579px;
  top: 13px;
}
.dropdown-caret2 {
  flex-shrink: 0;
  width: 10px;
  height: 7px;
  position: relative;
  overflow: visible;
}
.rides2 {
  color: #fdfdfd;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.nav-item3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 709px;
  top: 13px;
}
.dropdown-caret3 {
  flex-shrink: 0;
  width: 10px;
  height: 7px;
  position: relative;
  overflow: visible;
}
.experiences {
  color: #fdfdfd;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.frame {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 1340px;
  top: 17px;
  overflow: hidden;
}
.svg-repo-icon-carrier {
  width: 75%;
  height: 75%;
  position: absolute;
  right: 12.5%;
  left: 12.5%;
  bottom: 12.5%;
  top: 12.5%;
  overflow: visible;
}
.frame2 {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 1390px;
  top: 17px;
  overflow: hidden;
}
.svg-repo-icon-carrier2 {
  width: 68.75%;
  height: 66.13%;
  position: absolute;
  right: 15.62%;
  left: 15.62%;
  bottom: 16.93%;
  top: 16.94%;
  overflow: visible;
} */
.search-bar-container {
  width: 1120px;
  height: 75px;
  position: absolute;
  left: 183px;
  top: 370px;
  
}
.search-bar-bg {
  background: #fdfdfd;
  border-radius: 50px;
  width: 1120px;
  height: 75px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button {
  background: #385e72;
  border-radius: 50px;
  width: 100px;
  height: 55px;
  position: absolute;
  left: 1005px;
  top: 10px;
  overflow: hidden;
}
.frame-71 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 6px;
  top: 5px;
}
.search {
  color: #fdfdfd;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.frame3 {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 42px;
  top: 19px;
  overflow: hidden;
}
.search-icon {
  width: 91.67%;
  height: 91.67%;
  position: absolute;
  right: 4.17%;
  left: 4.17%;
  bottom: 4.17%;
  top: 4.17%;
  overflow: visible;
}
.search-title-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 93px;
  top: 12px;
}
.search-rides-title {
  color: #000000;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
.line-12 {
  margin-top: -1px;
  border-style: solid;
  border-color: #385e72;
  border-width: 1px 0 0 0;
  width: 48px;
  height: 0px;
  position: absolute;
  left: 280px;
  top: 15px;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}

.search-form {
  color: #000000;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  border: 0;
}

.search-form input[type='search']:focus {
  outline: none;
  border: 0;
}

.frame-74 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 297px;
  top: 15px;
}
.what-ride-are-you-searching-for {
  color: #000000;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 300;
  position: relative;
}
/* .grid {
  width: 1371px;
  height: 1314px;
  position: absolute;
  left: 29px;
  top: 481px;
}
.grid-item {
  background: #ffffff;
  border-radius: 10px;
  width: 440px;
  height: 300px;
  position: absolute;
  left: 11px;
  top: 0px;
  overflow: hidden;
} */
.rectangle-10 {
  background: #d9d9d9;
  width: 440px;
  height: 200px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-76 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 174px;
  top: 79px;
}
.image2 {
  color: #000000;
  text-align: left;
  font-family: "Arial-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.frame-77 {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 25px;
  top: 229px;
}
.ride-title {
  color: #000000;
  text-align: left;
  font-family: "Caprasimo", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.frame-78 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 25px;
  top: 252px;
}
.more-info {
  color: #000000;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: relative;
}
.frame4 {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.svg-repo-icon-carrier4 {
  width: 20.83%;
  height: 41.67%;
  position: absolute;
  right: 37.5%;
  left: 41.67%;
  bottom: 29.17%;
  top: 29.17%;
  overflow: visible;
}
.grid-item2 {
  background: #ffffff;
  border-radius: 10px;
  width: 440px;
  height: 300px;
  position: absolute;
  left: 471px;
  top: 0px;
  overflow: hidden;
}
.svg-repo-icon-carrier5 {
  width: 20.83%;
  height: 41.67%;
  position: absolute;
  right: 37.5%;
  left: 41.67%;
  bottom: 29.17%;
  top: 29.17%;
  overflow: visible;
}
.grid-item3 {
  background: #ffffff;
  border-radius: 10px;
  width: 440px;
  height: 300px;
  position: absolute;
  left: 931px;
  top: 0px;
  overflow: hidden;
}
.svg-repo-icon-carrier6 {
  width: 20.83%;
  height: 41.67%;
  position: absolute;
  right: 37.5%;
  left: 41.67%;
  bottom: 29.17%;
  top: 29.17%;
  overflow: visible;
}
.grid-item4 {
  background: #ffffff;
  border-radius: 10px;
  width: 440px;
  height: 300px;
  position: absolute;
  left: 8px;
  top: 338px;
  overflow: hidden;
}
.svg-repo-icon-carrier7 {
  width: 20.83%;
  height: 41.67%;
  position: absolute;
  right: 37.5%;
  left: 41.67%;
  bottom: 29.17%;
  top: 29.17%;
  overflow: visible;
}
.grid-item5 {
  background: #ffffff;
  border-radius: 10px;
  width: 440px;
  height: 300px;
  position: absolute;
  left: 468px;
  top: 338px;
  overflow: hidden;
}
.svg-repo-icon-carrier8 {
  width: 20.83%;
  height: 41.67%;
  position: absolute;
  right: 37.5%;
  left: 41.67%;
  bottom: 29.17%;
  top: 29.17%;
  overflow: visible;
}
.grid-item6 {
  background: #ffffff;
  border-radius: 10px;
  width: 440px;
  height: 300px;
  position: absolute;
  left: 928px;
  top: 338px;
  overflow: hidden;
}
.svg-repo-icon-carrier9 {
  width: 20.83%;
  height: 41.67%;
  position: absolute;
  right: 37.5%;
  left: 41.67%;
  bottom: 29.17%;
  top: 29.17%;
  overflow: visible;
}
.grid-item7 {
  background: #ffffff;
  border-radius: 10px;
  width: 440px;
  height: 300px;
  position: absolute;
  left: 3px;
  top: 676px;
  overflow: hidden;
}
.svg-repo-icon-carrier10 {
  width: 20.83%;
  height: 41.67%;
  position: absolute;
  right: 37.5%;
  left: 41.67%;
  bottom: 29.17%;
  top: 29.17%;
  overflow: visible;
}
.grid-item8 {
  background: #ffffff;
  border-radius: 10px;
  width: 440px;
  height: 300px;
  position: absolute;
  left: 463px;
  top: 676px;
  overflow: hidden;
}
.svg-repo-icon-carrier11 {
  width: 20.83%;
  height: 41.67%;
  position: absolute;
  right: 37.5%;
  left: 41.67%;
  bottom: 29.17%;
  top: 29.17%;
  overflow: visible;
}
.grid-item9 {
  background: #ffffff;
  border-radius: 10px;
  width: 440px;
  height: 300px;
  position: absolute;
  left: 923px;
  top: 676px;
  overflow: hidden;
}
.svg-repo-icon-carrier12 {
  width: 20.83%;
  height: 41.67%;
  position: absolute;
  right: 37.5%;
  left: 41.67%;
  bottom: 29.17%;
  top: 29.17%;
  overflow: visible;
}
.grid-item10 {
  background: #ffffff;
  border-radius: 10px;
  width: 440px;
  height: 300px;
  position: absolute;
  left: 0px;
  top: 1014px;
  overflow: hidden;
}
.svg-repo-icon-carrier13 {
  width: 20.83%;
  height: 41.67%;
  position: absolute;
  right: 37.5%;
  left: 41.67%;
  bottom: 29.17%;
  top: 29.17%;
  overflow: visible;
}
.grid-item11 {
  background: #ffffff;
  border-radius: 10px;
  width: 440px;
  height: 300px;
  position: absolute;
  left: 460px;
  top: 1014px;
  overflow: hidden;
}
.svg-repo-icon-carrier14 {
  width: 20.83%;
  height: 41.67%;
  position: absolute;
  right: 37.5%;
  left: 41.67%;
  bottom: 29.17%;
  top: 29.17%;
  overflow: visible;
}
.grid-item12 {
  background: #ffffff;
  border-radius: 10px;
  width: 440px;
  height: 300px;
  position: absolute;
  left: 920px;
  top: 1014px;
  overflow: hidden;
}
.svg-repo-icon-carrier15 {
  width: 20.83%;
  height: 41.67%;
  position: absolute;
  right: 37.5%;
  left: 41.67%;
  bottom: 29.17%;
  top: 29.17%;
  overflow: visible;
}
.footer {
  background: #071330;
  width: 100%;
  height: 407px;
  position: absolute;
  left: 0px;
  top: 1887px;
  overflow: hidden;
}
.logo-headers {
  width: 1133px;
  height: 69.46px;
  position: absolute;
  left: 153px;
  top: 40px;
}
.experiences2 {
  width: 130px;
  height: 25px;
  position: absolute;
  left: 751px;
  top: 22px;
}
.experiences3 {
  color: #fdfdfd;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rides3 {
  width: 57px;
  height: 25px;
  position: absolute;
  left: 607px;
  top: 22px;
}
.rides4 {
  color: #fdfdfd;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 0px;
}
.logo {
  width: 256px;
  height: 69.46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.helloworld-logo-1-2 {
  width: 256px;
  height: 69.46px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.tickets-passes2 {
  width: 177px;
  height: 25px;
  position: absolute;
  left: 343px;
  top: 22px;
}
.tickets-passes3 {
  color: #fdfdfd;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rides-items {
  width: 88px;
  height: 124px;
  position: absolute;
  left: 745px;
  top: 109px;
}
.frame-29 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 14px;
  top: 0px;
}
.all-rides2 {
  color: #ffffff;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
}
.frame-30 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 6px;
  top: 35px;
}
.thrill-rides {
  color: #ffffff;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
}
.frame-31 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 70px;
}
.family-rides {
  color: #ffffff;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
}
.frame-32 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 8px;
  top: 105px;
}
.kids-rides {
  color: #ffffff;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
}
.experiences-items {
  width: 147px;
  height: 89px;
  position: absolute;
  left: 895px;
  top: 109px;
}
.frame-33 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 0px;
}
.restaurants-dining {
  color: #ffffff;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
}
.frame-35 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 31px;
  top: 35px;
}
.shop-gifts {
  color: #ffffff;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
}
.tickets-passes-items {
  width: 127px;
  height: 89px;
  position: absolute;
  left: 521px;
  top: 109px;
}
.frame-26 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 6px;
  top: 0px;
}
.tickets-passes4 {
  color: #ffffff;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
}
.frame-27 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0px;
  top: 35px;
}
.one-day-add-ons {
  color: #ffffff;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
}
.frame-28 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 15px;
  top: 70px;
}
.pass-add-ons {
  color: #ffffff;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
}
.socials {
  width: 167px;
  height: 20px;
  position: absolute;
  left: 636px;
  top: 359px;
}
.facebook-logo {
  width: 8.98%;
  height: 100%;
  position: absolute;
  right: 91.02%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.twitter-logo {
  width: 11.98%;
  height: 75%;
  position: absolute;
  right: 58.68%;
  left: 29.34%;
  bottom: 15%;
  top: 10%;
  overflow: visible;
}
.instagram-svgrepo-com-1 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 96px;
  top: 0px;
  overflow: visible;
}
.youtube-svgrepo-com-1 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 147px;
  top: 0px;
  overflow: visible;
}
.frame-37 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 571px;
  top: 440px;
}
.disclaimer-this-is-not-a-real-theme-park-this-is-for-a-final-project {
  color: #ffffff;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 10px;
  font-weight: 400;
  position: relative;
}

.test {
  position: absolute;
  left: 0;
  top: 364px;
  font-family: 'Quicksand';
  color: black;
}